.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    background-color: #fff;
    padding: 12px;
    width: 120px;
    border: 2px solid #452d2d;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper:hover {
    transform: scale(1.05);
}

.avatar {
    width: 100%;
}

.name {
    flex-grow: 1;
    font-weight: bold;
    font-size: 24px;
}

.status {
    font-size: 14px;
}

.status_on {
    color: rgb(83, 222, 9);
}

.status_off {
    color: rgb(238, 46, 25);
}