.table {
    border-collapse: collapse;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    width: 600px;
    border: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
}

.thead {
    background-color: #807c7c;
    color: #ffffff;
    text-align: center;
}

.tbody {
    text-align: center;
}

.thead th,
.tbody td {
    border: 1px solid #333333;
    padding: 8px;
    width: 200px;
}

.tbody td:first-child {
    text-align: left;
    padding-left: 56px;
}

.list_body:nth-child(even) .list_body:nth-child(even) {
    background-color: #f4c6c6;
}

.list_body:nth-child(odd) {
    background-color: #ddc8c8;
}

.list_body {
    border-bottom: 1px solid #333333;
}
